#navig {
  visibility: hidden;
  transition: 0.5s;
}
body {
  background-color: #212121;
  text-decoration: none;
  color: white;
  width: 100%;
}
h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  color: #2196f3;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #8d8d8d;
  letter-spacing: 2px;
  font-size: 1rem;
}
img {
  width: 150px;
}
/* ----------------------------------------------------------The sidebar menu-------------------------------------------------------- */
#mySidenav a {
  z-index: 1;
  margin-top: 12.5%;
  position: absolute;
  /* Position them relative to the browser window */
  left: -100px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 15px;
  /* 15px padding */
  width: 12%;
  /* Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
}
#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}
/* The about link: 20px from the top with a green background */
#home {
  float: left;
  top: 20px;
  background-color: #4caf50;
}
#about {
  top: 100px;
  background-color: #2196f3;
  /* Blue */
}
#skills {
  top: 180px;
  background-color: #f44336;
  /* Red */
}
#my-work {
  top: 260px;
  /* Light Black */
  background-color: #555;
}
#contact {
  top: 340px;
  background-color: #17a2b8;
}

/*navbar icons*/
.Home {
  margin-left: 35%;
}
.User {
  margin-left: 36%;
}
.Skills {
  margin-left: 42%;
}
.Eye {
  margin-left: 18%;
}
.Envelope {
  margin-left: 26.5%;
}
/* ========================================About Paragraph============================================================================ */
.about-para {
  width: 40%;
  margin-left: 15%;
  margin-top: 10.5%;
}
/* =============================================Animated Skills====================================================================== */
.animation {
  margin: 35px 0;
}
.animated-skills {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50, -50);
  padding: 0 40px;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
.animation:first-child {
  animation: anim 15s infinite;
}
@keyframes anim {
  0% {
    margin-top: 30px;
  }
  12.5% {
    margin-top: -170px;
  }
  25% {
    margin-top: -350px;
  }
  37.5% {
    margin-top: -530px;
  }
  50% {
    margin-top: -720px;
  }
  62.5% {
    margin-top: -530px;
  }
  75% {
    margin-top: -350px;
  }
  87.5% {
    margin-top: -170px;
  }
  100% {
    margin-top: 30px;
  }
}
/* ==================================Social button======================================= */
/* ==========================================Social Icons====================================================== */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  /* background-color: red; */
  color: white;
  text-align: center;
}
.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0%;
  padding: 0%;
  display: flex;
}
.social li {
  list-style: none;
}

.social li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto 30px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.social li a span {
  position: absolute;
  transition: transform 0.5s;
}

.social li a span:nth-child(1),
.social li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: whitesmoke;
}
.social li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.social li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.social li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.social li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.social li a span:nth-child(2),
.social li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: whitesmoke;
}
.social li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.social li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.social li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.social li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

/* ==================================Media Queries =======================================*/
@media screen and (max-width: 1350px) {
  #mySidenav {
    transition: 0.5s;
    visibility: hidden;
  }
  #navig {
    visibility: visible;
    transition: 0.5s;
  }
}
@media screen and (max-width: 740px) {
  #mySidenav {
    transition: 0.5s;
    visibility: hidden;
  }
  #navig {
    visibility: visible;
    transition: 0.5s;
  }
  .animated-skills {
    position: relative;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    left: 1px;
  }
  .about-para {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 10.5%;
  }
}
@media screen and (max-width: 435px) {
  #mySidenav {
    transition: 0.5s;
    visibility: hidden;
  }
  #navig {
    visibility: visible;
    transition: 0.5s;
  }
  .animated-skills {
    position: relative;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    left: 1px;
  }
  .about-para {
    width: 80%;
    height: auto;
    margin-left: 15%;
    margin-top: 10.5%;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  /* Social buttons */
  .social li a {
    margin: auto 15px;
  }
}
