body {
  font-family: "Lexend Deca", sans-serif;
  background: #232931;
  color: white;
}

.content {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
}

.sidebar {
  grid-area: sidebar;
  justify-content: center;
  background-color: #393e46;
}

.footer {
  grid-area: footer;
  background-color: #323643;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "sidebar" "main-content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 85px 525px 140px;
  position: absolute;
}

.content,
.sidebar {
  padding: 1em;
}
nav {
  margin: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav li {
  list-style: none;
  padding: 1em 0;
  opacity: 0.7;
  transition: 0.3s;
}

nav li a {
  color: #4ecca3 !important;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none !important;
}

nav li:hover {
  opacity: 1;
  color: #4ecca3 !important;
}

/* main */

.main {
  /* margin-top: 2em; */
  margin-bottom: 3em;
  text-align: center;
}

/* ========================================About Paragraph============================================================================ */
.title {
  color: #4ecca3;
  /* display: inline-block; */
}

.subtitle {
  opacity: 0;
  transition: ease-in 0.8s;
}
.about-para {
  /* margin-left: 15%; */
  color: #8d8d8d;
  font-size: 0.9rem;
  margin-top: 1em;
  /* margin-top: 10.5%; */
}
/* footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
}
.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0%;
  padding: 0%;
  display: flex;
  transition: all 1s ease;
}
.social li {
  list-style: none;
}

.social li a {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto 15px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.social li a span {
  position: absolute;
  transition: transform 0.5s;
}

.social li a span:nth-child(1),
.social li a span:nth-child(3) {
  width: 100%;
  height: 1px;
  background: whitesmoke;
}
.social li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.social li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.social li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.social li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.social li a span:nth-child(2),
.social li a span:nth-child(4) {
  width: 1px;
  height: 100%;
  background: whitesmoke;
}
.social li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
.social li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

.social li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.social li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

/* ==================================Media Queries =======================================*/

@media (min-width: 1024px) {
  .main-container {
    grid-template-areas:
      "sidebar main-content"
      "sidebar footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;
  }

  .sidebar {
    height: 100%;
    display: flex;
    align-items: center;
  }

  nav {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  nav li a {
    font-size: 1.5rem;
  }

  .content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main {
    text-align: left;
  }

  .main h1 {
    font-size: 3rem;
  }

  .about-para {
    width: 70%;
    color: #8d8d8d;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-top: 1em;
  }

  footer {
    height: 150px;
    margin-top: 0;
  }
}
@media (min-width: 420px) {
  .social li a {
    margin: auto 30px;
  }
}
/* ========================== Animations============================= */

/* Main Title Animation */
.title-anim {
  opacity: 0;
  transition: all 1s ease;
  display: inline-block;
}

span.fade-in {
  opacity: 1;
}

.contact-btn.fade-in {
  opacity: 1;
}

.Animation.fade-in {
  opacity: 1;
}

.social.fade-in {
  opacity: 1;
}

.subtitle.fade-in {
  opacity: 1;
}

/* Rubber band animation  */

.rubberBand {
  -moz-animation: rubberBand 0.8s;
  -webkit-animation: rubberBand 0.8s;
  animation: rubberBand 0.8s;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
