body {
  background-color: #212121;
  text-decoration: none;
  height: 100%;
}
h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 12%;
  font-size: 3rem;
  color: #fff;
}
p {
  font-family: 'Open Sans', sans-serif;
  margin-left: 15%;
  color: #8d8d8d;
  letter-spacing: 3px;
  font-size: 1rem;
}
#navig {
  visibility: hidden;
  transition: 0.5s;
}
/*--------------------------------------------- Contact Button With Snake Animation-------------------------------------------------- */
.contact-btn {
  margin-left: 15%;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none !important;
  font-size: 24px;
  /* border: solid;
  border-color: #2196f3; */
  overflow: hidden;
  transition: 0.2s;
}
.contact-btn:hover {
  border: hidden;
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
  transition-delay: 1s;
}
.contact-btn span {
  position: absolute;
  display: block;
}
.contact-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#2196f3);
}
.contact-btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.contact-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#2196f3);
}
.contact-btn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.contact-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#2196f3);
}
.contact-btn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.contact-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#2196f3);
}
.contact-btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* ----------------------------------------------------------The sidebar menu-------------------------------------------------------- */
#mySidenav a {
  z-index: 1;
  margin: 12.5% 0;
  position: absolute;
  /* Position them relative to the browser window */
  left: -6.5%;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 1%;
  /* 15px padding */
  width: 12%;
  /* Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
}
#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}
/* The about link: 20px from the top with a green background */
#home {
  top: 20px;
  background-color: #4CAF50;
}
#about {
  top: 100px;
  background-color: #2196F3;
  /* Blue */
}
#skills {
  top: 180px;
  background-color: #f44336;
  /* Red */
}
#my-work {
  top: 260px;
  /* Light Black */
  background-color: #555;
}
#contact {
  top: 340px;
  background-color: #17a2b8;
}
/*navbar icons*/
.Home {
  margin-left: 35%;
}
.User {
  margin-left: 36%;
}
.Skills {
  margin-left: 42%;
}
.Eye {
  margin-left: 40%;
}
.Envelope {
  margin-left: 26.5%;
}
/* ------------------------------------------------------------I Love animation ------------------------------------------------------*/
.love {
  color: #fff;
  position: absolute;
  bottom: 47%;
  left: 57%;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 500%;
  transition: 0.3s;
}
.animated-text {
  transition: 0.3s;
  color: #fff;
  position: absolute;
  bottom: 50%;
  left: 75%;
  background: #2980b9;
  transform: translate(-50,-50);
  padding: 0 40px;
  height: 60px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  overflow: hidden;
}
.animation {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}
.animation:first-child {
  animation: anim 15s infinite;
}
@keyframes anim {
  0% {
    margin-top: 0;
  }
  12.5% {
    margin-top: -60px;
  }
  25% {
    margin-top: -120px;
  }
  37.5% {
    margin-top: -180px;
  }
  50% {
    margin-top: -240px;
  }
  62.5% {
    margin-top: -180px;
  }
  75% {
    margin-top: -120px;
  }
  87.5% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}
/* .full-stop {
  color: #fff;
  position: absolute;
  bottom: 47%;
  left: 95%;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 5rem;
} */
/* ==================================================================responsive====================================================== */
/* For Large to Medium Screen Devices */
@media screen and (max-width :1400px) {
  .animated-text {
    transition: 0.3s;
    left: 70%;
    position: absolute;
    width: 300px;
  }
  .love {
    transition: 0.3s;
    left: 50%;
    position: absolute;
  }
  /* .Animation {
    width: 700px;
    margin-left: 15%;
  } */
}
/* For Medium to Small Screen Devices */
@media screen and (max-width :1300px) {
  #mySidenav {
    transition: 0.5s;
    visibility: hidden;
  }
  #navig {
    visibility: visible;
    transition: 0.5s;
  }
  .Animation,
  .animated-text,
  .love {
    position: relative;
  }
  .animated-text,
  .love {
    left: 0;
    margin-left: 15%;
    margin-right: 15%;
  }
}